.pestanas {
    background-color: rgb(87, 104, 255);
}

.texto {
    font: 100;
}

.contenedor {
    background-color: rgb(147, 207, 255);
    height: 100px;
    width: 500px;
    border-radius: 40px;
    border: 5px solid rgb(46, 46, 255);
    position: relative; top: 40px;
    
}

.contenedor2 {
    background-color: aliceblue;
    height: 50px;
    width: 70px;
    position: absolute ; left: 350px; top: 25px;
}

.texto-centrado {
  text-align: center;
  font: bold;
}

.textoazul {
    color: rgb(0, 102, 255);
}
.textonegro {
    color: rgb(0, 0, 0);
}

